/* start here */
.btn-sort-div{
    display: flex;
    justify-content: center;
}
.btn-sort-div button{
    border: none;
    width: 160px;
    height: 62px; 
    font-size: larger;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #EB5757;
    border-radius: 10px;
}

/*root home design.......*/
#apis-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.api-div{
    background-color: #FEF7F7;
    border: 2px solid #e2dada;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
.api-div img{
  border: 1px solid rosybrown;
  padding: 2px;
  max-width: 340px;
  max-height: 160px;
  border-radius: 5px;
}
.arrow-icon{
    height: 2px;
    width: 5px;
}

/* card footer.......... */
.card-footer{
    display: flex;
    justify-content: space-between;
}
.btn-arrow{
    height: 40px;
    width: 40px;
    font-weight: 700;
    font-size: larger;
    color: #EB5757;
    background-color: #FEF7F7;
    border: none;
    border-radius: 20px;
}

/*modal related style */
.modal-dialog{
  max-width: 1300px;
  max-height: 800px;
}
.modal-content{
    width: 1150px;
    height: 650px;
    margin-left: 75px;
    margin-top: 20px;
}
.modal-root{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.modal-left-part{
    border: 2px solid #EB5757;
    overflow: hidden;
    width: 400px;
    margin-right: 100px;
}
.modal-right-part img{
  width: 200px;
  height: 150px;
}
